SECRET_KEY=sua-secret-key-aqui
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.postgresql
DB_NAME=bookstore
DB_USER=bookstore
DB_PASSWORD=troque-esta-senha
DB_HOST=db
DB_PORT=5432