asgiref==3.12.1 ; python_version >= "3.12" and python_version < "4.0"
django-cors-headers==4.9.0 ; python_version >= "3.12" and python_version < "4.0"
django-extensions==4.1 ; python_version >= "3.12" and python_version < "4.0"
django-filter==26.1 ; python_version >= "3.12" and python_version < "4.0"
django==6.0.7 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.17.1 ; python_version >= "3.12" and python_version < "4.0"
faker==40.36.0 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==26.0.0 ; python_version >= "3.12" and python_version < "4.0"
packaging==26.2 ; python_version >= "3.12" and python_version < "4.0"
psycopg-binary==3.3.4 ; python_version >= "3.12" and python_version < "4.0" and implementation_name != "pypy"
psycopg==3.3.4 ; python_version >= "3.12" and python_version < "4.0"
python-decouple==3.8 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.5 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.16.0 ; python_version == "3.12"
tzdata==2026.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
